:root {
  --fonte-principal: 'Lato', sans-serif;
  --azul: #003D73;
}

.mainHome {
  display: flex;
  flex-direction: column;
  width: 100%;
  /* height: 80vh; */
  align-items: center;
}

.titulo_estrategias {
  width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
}

.titulo_estrategias h1{
  color: #053155;
}

.section-main {
  display: flex;
  flex-direction: column;
  justify-content: space-around;

  height: 100%;
  width: 95%;

  gap: 60px;
  padding: 70px 25px;
  margin: 30px 0;

  background-color: #ffffff;
  border-radius: 8px;
  box-shadow: 10px 10px 15px 0px #00000025;
}

.cad_formulario_estrategia {
  width: 70%;
}

.section-main h2 {
  margin: 0 0 15px 15px;
}

.cad_linha_select span {
  color: black;
}

#cad_select_erro {
  height: auto;
  background-color: #003D73;
  color: #ffffff;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}

.desc {
  width: auto;
  margin-top: 2%;
}

.desc-content h2{
  font-size: large;
  margin: 0px;
}

.desc-content p{
  font-size: large;
  color: #053155;
}

.container_cad {
  display: flex;
  justify-content: center;
  align-items: center;
}

.cad_conteudo {
  background: linear-gradient(114.61deg, #ffffff0d 1.08%, #ffffff1e 99.26%);
  box-shadow: 30px 30px 60px #00000080;
  border: 5px solid #053155;
  backdrop-filter: blur(10px);
  border-radius: 80px;
  width: 100%;
  max-width: 700px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 50px 0;
  color: var(--branco);
  /* margin: 100px 0; */
}

.cad_linha_checkbox {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin: 20px 0;
}

.cad_container_checkbox {
  width: 43px;
  position: relative;
}

.cad_box_checkbox {
  width: 100%;
  height: 24px;
  background-color: #ffffff20;
  border: 2px solid #e6a3ff;
  border-radius: 15px;
  margin-bottom: 20px;
}

.cad_checkbox {
  display: none;
  /* position: absolute;
  left: -100vw; */
}

.cad_label {
  width: 20px;
  height: 20px;
  display: block;
  cursor: pointer;
  position: absolute;
  top: 2px;
  left: 2px;
  z-index: 1;
  background-color: var(--azul);
  border-radius: 10px;
  box-shadow: none;
  transition: cubic-bezier(0.895, 0.07, 0.685, 0.68);
}

.cad_checkbox:checked+.cad_label {
  left: 21px;
  background-color: var(--rosa);
}

.cad_formulario {
  width: 95%;
  max-width: 460px;
  display: flex;
  flex-direction: column;
  font-family: var(--font2);
}

.cad_linha1_input,
.cad_linha2_input {
  display: flex;
  margin: 15px 0;
  justify-content: space-between;
  gap: 10%
}

input[type="text"] {
  padding-bottom: 5px;
  border: none;
  border: solid 1px rgba(0, 0, 0, 0.364);
  background: none;
  color: var(--preto);
  font-weight: 600;
}

#nome_estrategia,
#descricao_estrategia {
  width: 100%;
  padding-bottom: 5px;
  border: none;
  border: solid 1px #808080;
  background: none;
  color: #808080;
  /* font-weight: 600; */
}

#nome::placeholder,
#descricao::placeholder {
  color: #808080;
  text-transform: capitalize;
  font-style: italic;

}

.cad_linha1_input>div:nth-child(1),
.cad_linha2_input>div:nth-child(2) {
  flex: 1;
}

.cad_linha1_input>div:nth-child(2),
.cad_linha2_input>div:nth-child(1) {
  flex: 2;
}

.cad_box_input {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: 15px 0;
}

.cad_box_input2>input,
.cad_box_input>input {
  width: 100%;
  padding: 8px;
  border-radius: 20px;
  border: 1px solid #b5b5b5;
  background: linear-gradient(136deg, #ffffff1a 0%, #ffffff0b 100%);
  /* box-shadow: 30px 30px 60px 0px #00000080; */
  backdrop-filter: blur(15px);
  color: #808080;
  font-size: 16px;
}

#cad_select_skill:focus-visible,
.cad_box_input2>input:focus-visible,
.cad_box_input>input:focus-visible {
  /* outline: 2px solid var(--rosa); */
}

#placeholder-text::placeholder {
  color: red;
}

.cad_box_input2>input::placeholder,
.cad_box_input>input::placeholder {
  color: #808080;
  font-size: 15px;
}

.cad_formulario>span {
  font-family: var(--font1);
  font-size: 30px;
  text-align: center;
  margin-top: 30px;
}

.cad_hard_skill>span {
  font-family: var(--font1);
  font-size: 1.875em;
  text-align: center;
  margin-top: 30px;

}

.cad_uf {
  text-transform: uppercase;
}

.cad_hard_skill {
  display: flex;
  flex-direction: column;
  position: relative;
  right: 182px;
  /* background-color: yellow; */
  /* height: 0; */
  /* font-size: 0; */
  width: 460px;
  display: none;
  /* transition-delay: 1s;
  transition-property: height;
  transition-duration: 1s; */
  /* transition: .3s height cubic-bezier(0.895, 0.07, 0.685, 0.68); */
}

.cad_checkbox:checked~.cad_hard_skill {
  /* transition-delay: 1S; */
  /* height: 300px; */
  /* font-size: 16px; */
  display: flex;
}

.cad_linha_select {
  display: flex;
  gap: 10%;
  flex-direction: row;
  justify-content: space-between;
  align-items: stretch;
}

#cad_select_skill {
  flex: 2;
  padding: 8px;
  border-radius: 20px;
  border: 1px solid #b5b5b5;
  background: linear-gradient(136deg, #ffffff1a 0%, #ffffff0b 100%);
  box-shadow: 30px 30px 60px 0px #00000090;
  backdrop-filter: blur(15px);
  color: #ffffffaa;
  font-size: 16px;
}

#cad_select_skill option {
  /* appearance: none; */
  background-color: #454158;
  /* background: linear-gradient(136deg, #ffffff1a 0%, #ffffff0b 100%); */
}

#cad_btn_inserir {
  flex: .8;
  font-size: 18px;
  color: var(--branco);
  border: 4px solid var(--rosa);
  /* padding: 4px 30px; */
  border-radius: 30%;
  font-family: var(--font1);
  background-color: #ffffff20;
  min-width: 90px;
  cursor: pointer;
}

#cad_lista_skills {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
  padding: 50px 0;
}

.cad_item_skill {
  border: 1px solid #b5b5b5;
  background: var(--branco);
  color: var(--azulP);
  box-shadow: 30px 30px 60px 0px #00000080;
  backdrop-filter: blur(15px);
  padding: 2px 10px;
  border-radius: 20px;
  display: flex;
  gap: 10px;
}

.cad_item_excluir {
  background: none;
  border: none;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.cad_item_excluir:hover {
  scale: 1.1;
  filter: drop-shadow(0 0 2px var(--azul));
}

.cad_item_excluir svg {
  fill: var(--rosa);
  height: 16px;
}

.cad_botao {
  align-self: center;
  font-family: var(--font1);
  color: var(--branco);
  text-transform: uppercase;
  font-size: 18px;
  text-decoration: none;
  border-radius: 15px;
  /* box-shadow: 15px 15px 30px #00000066; */
  padding: 7px 40px;
  background: #003d73;
  border: none;
  margin-top: 25px;
  cursor: pointer;
}

.container-estrategias {
  width: auto;
  margin-top: 2%;
}

.tb-estrategias {
  width: 100%;
  margin: 30px 0;
  border: none;
  border-collapse: collapse;

  caption-side: top;
}

.c-tb-estrategias {
  font-size: 20px;
  color: var(--preto);
}

.c-tb-estrategias, .tr-estrategias th {
  text-align: left;
}

tbody > .tr-estrategias:nth-child(odd) {
  background-color: #F2F2F7;
}

.tr-estrategias {
  height: 40px;
  color: var(--preto);
}

.tr-estrategias td {
  max-width: 15vw;
}

.tr-estrategias th, .tr-estrategias, .tr-estrategias td {
  border: none;
  color: black;
}

.linha-mensagem td {
  text-align: center;
}

.c-tb-estrategias, .tr-estrategias th, .tr-estrategias td {
  padding: 15px;
}
.th_nome {
  width: 30%;
}

.th_descricao {
  width: 55%;
}

.th_data {
  width: 15%;
}

.em-bold {
  font-size: 1.5em;
  font-weight: bolder;
}

.tr-estrategias:nth-child(5) {
  display: flex;
  align-items: center;
}
/* body {
    font-family: var(--fonte-principal);
    margin: 0;
    padding: 0;
    background-color: #EEF3FA;
  } */